@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.con-nav{
    /* border: 1px solid; */
    position: fixed;
    top: 35%;
}
.navbar > * {
    margin-left: 20px;
    padding: 10px;
    font-size: large;
    color: black;
}
.navbar{
    display: flex;
    flex-direction: column;
}
.container {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    /* border: 1px solid; */
    background: linear-gradient(#1a022b, #880581);
    box-shadow: #370955 0px 5px 15px;
    position: relative;
}
.hero {
    padding: 100px;
    text-align: center;
}
.hero > * {
    margin: 10px;
}
.hero p {
    color: grey;
}
.hero img {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
}
.hero h1 {
    color: white;
}
.about {
    margin-top: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'kiri kiri kiri kanan'
                          'kiri kiri kiri kanan'
    ;
    padding: 10px;
    }
.kiri {
    grid-area: kiri ;
    background-color: white;
    border-radius: 10px;
    
}
.kanan {
    grid-area:kanan;
    position: relative;
}
.kanan img {
    height: 450px;
    border-radius: 10px;
}
.skill {
    margin-top: 100px;
    padding: 50px;
    position: relative;
    overflow: hidden;
}
.atas {
    margin-left: 20px;
    text-align: center;
}

.atas h2 {
    margin-bottom: 50px;
}
.logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    justify-items: center;
    align-items: center;
    gap: 20px;
    /* animation:logo infinite 10s ;
    animation-timing-function: cubic-bezier(10, 77, 77, 3); */
}
@keyframes logo {
    from{
        transform: translateX(-1100px);
        transition: 2s;
    }
    to{
        transform: translateX(1100px);
    }
}
.atas #sc {
    height: 120px;
    width: 100px;
}
 #ss {
    height: 100px;
    width: 100px;
 }
 #tcc {
     height: 30px;
     width: 200px;
 }
 .karya {
    margin-top: 100px;
     text-align: center;
     padding: 10px;
 }
 .karya h2 {
     padding: 10px;
     margin-bottom: 50px;
 }
 .project {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
     justify-items: center;
     align-items: center;
 }
 .card {
     padding: 10px;
     background-color: rgb(36, 4, 36);
     margin-bottom: 20px;
     color: white;
     border-radius: 10px;
 }
 .card img {
     width: 100%;
 }

 @media (max-width: 500px) {
    .container {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .con-nav {
        top: 0;
        left: 20%;
        z-index: 1000;
    }
    .navbar{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .about{
        grid-template-columns: 1fr;
        grid-template-areas: 'kiri'
        'kanan'
        ;   
        justify-items: center;  
    }
    .kiri{
        padding: 10px;
        text-align: center;
    }
 }